
{{#each sortedAnnouncements as |announcement|}}
  <li>
  Announcement: {{announcement.content}} <br>
  Date: {{announcement.date}} <br>
  Author: {{announcement.author}} <br>
  </li>
  {{update-announcement announcement=announcement update="update" destroyAnnouncement="delete" announcement=announcement}}
{{/each}}
