<!--Course details-->
<div class="course-detail">
  <div class="course-title">
    <h2>{{course.name}}</h2>
  </div>
  <div class="course-intro">
    <p>{{course.intro}}</p>
  </div>

  <!--Link to GLOSSARY part-->


  <!--Actual course material-->
  <div class="course-content">
    {{course.content}}
  </div>




</div>
