<!--Julie-->

<!-- displays information about the course in a tile: only the name and course week, and the ToC-->

<div class="course-tile">
  {{course.name}}: {{course.week}}

<!-- when you click on the ToC, you go to the course material -->
  {{#link-to 'course' course.id}}{{course.content}}{{/link-to}}

</div>
