<!--Julie -->

<!--Course content-->
<div class="title">
  {{course.name}}:{{course.week}}
</div>

<!--display Table of Content-->
<div class="toc">
  {{course.toc}}
</div>

<!--display the content of the course-->

<a target="_blank" href="localhost:4200{{course.content}}">blah</a>
