<!--Julie -->

<!--Course content-->
<div class="title">
  {{course.name}}:{{course.week}}
</div>

<!--display Table of Content-->
{{course.toc}}

<!--display the content of the course-->
{{course.content}}
