
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "ember-bootstrap/bootstrap";

// *{
//   border: solid 1px black;
// }

body{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/**** Header styling****/
.header-title{
  text-align: center;
  margin: 10px;
}

.header-subtitle{
  text-align: center;
  text-transform: uppercase;
}

h1, h2, h3, h4, a {
  color: rgb(215, 30, 38);
  text-shadow: 1px rgba(0, 0, 0, 0.2);
  margin-top: 18px;
  margin-bottom: 18px;
}


/****** Navigation bar styling*****/
.navbar-brand{
  color: rgb(102, 119, 136);
}
.navbar-right li{
  color:rgb(102, 119, 136);
}
.navbar-nav > li > a{
  color:rgb(102, 119, 136);
}

.navbar-nav{
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

/****** footer ***********/
.footer{
  width:100%;
  height: 80px;
  color: rgb(102, 119, 136);
  text-align: center;
  margin-top: 50px;
}
/*** Images general****/

img{
  width:200px;
  height: 150px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-top: 20px;
}

.item-listing{
  color: #000;
  font-size: 30px;
}

/**** Buttons ****/
.btn {
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 999px;
  border: solid 3px #c90016;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  margin:12px;
  text-transform: uppercase;
  font-weight: bold;
}

/**** Index page ****/
.welcome-msg{
  text-align: left;
  margin-bottom: 60px;
}

.index-tile{
  border: solid 1px black;
}




/**** Styling by Steve*****/
.mycontent-left {
}

#leftfixed {
}
.mycontent-right {
  // margin-left: 200px;
}


/* Styling for Calendar */

.calendar {
// width: 300px;
text-align: center;

}

#container-calendar {
width: 500px;
text-align: center;
margin-left: -60px;
}

.calendar-day {
border-radius: 10px;
border: solid 3px #ff3333;
height: 50px;
}

.day-of-week {
  // vertical-align: middle !important;
  margin: 10px;
  font-size: 20px;
}
