<div class="container-fluid">

  {{new-announcement saveAnnouncement="saveAnnouncement"}}


  <!-- left(variable) = right(model) -->

  <div class="an-list">
    <ul>
      {{announcement-detail announcements= model update="update" destroyAnnouncement="destroyAnnouncement"}}
    </ul>
  </div>


</div>
