<!--header-->
<div class="container" id="header">
  <header>
    <div class="header-title">
      {{#link-to 'index'}}<h1>Blackboard </h1>{{/link-to}}
    </div>
    <div class="header-subtitle">
      <p>Powered by Accelerate HK</p>
    </div>
  </header>



<!--Navigation Bar of called Menu-->
<nav class="navbar navbar-inverse navar-fixed-top">
   <div class="navbar-header">
     <a class="navbar-brand" href="">  </a>
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
       <li class="navitem"><a href="/index">Menu</a></li>
       <li class="navitem"><a href="/announcement">Anouncements</a></li>
       <li class="navitem"><a href="/subject">Course Material</a></li>
       <li class="navitem"><a href="/supplementarymaterials">Supplementary Materials</a></li>
       <li class="navitem"><a href="/calendar">Calendar</a></li>
       <li class="navitem"><a href="/contact">Contacts</a></li>
     </ul>
     <div class="navbar-header navbar-right">
           <p class="navbar-text"></p>
    </div>
   </div>
 </nav>

 {{outlet}}
</div>
