<!--Sheeja-->


<!--this is a title-->
<wrapper class="calendar">
<div>
<div class="col-md-4">
</div>
<div class="col-md-4" id="container-calendar">
  <span> Calendar for the week:</span>
<br>
<ul class="calendar-list">
  {{#each model.days as |day|}}
  <li class="calendar-day">{{day-tile day=day}}</li>
  {{/each}}
</ul>
</div>
<div class="col-md-4">
</div>
</div>
</wrapper>
