<!--this is the page where all the courses will be displayed-->
<h2>Here you can find all the course materials</h2>

<!--Display of the course-detail-->
<!-- {{rental-detail rental=model destroyRental="destroyRental"}}

{{new-review saveReview="saveReview" rental=model}} -->
