<div style="text-align: center">
  <h1>ember.js supplements</h1>
</div>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-2" id="leftfixed">
       <div class="affix">
         <img style="margin-left: -100px;"src="http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200"/>
         <div style="margin-left: -100px; margin-top: -20px" class="mycontent-left">
           {{new-submission saveLink="saveLink"}}
       </div>
        </div>
    </div>
    <div class="col-md-10">
      <div class="mycontent-right">
        <ul style="list-style: none;">
            {{#each model as |blackboard|}}
          <li>
            {{submission-tile blackboard=blackboard upVote="upVote" downVote="downVote"}}
          </li>
          {{log blackboard.id}}
            {{/each}}
        </ul>
    </div>
</div>
</div>
{{outlet}}
