<h1>This is our Blackboard application</h1>
<br>
<br>
<div class="row" id="indexlineup">
  <div class="col-md-3" style="border: 1px solid black; height: 300px ; width: 300px;">
    <h3 style="margin-top: 40px">{{#link-to 'supplementarymaterials'}}Supplementary materials{{/link-to}}</h3>
    <p><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/89540-200.png"></p>
</div>
</div>
