<!--Julie-->

<!--this is the page where all the course-tiles will be displayed, similar to the index-page in super-rental-->
<h2>Here you can find all the course materials</h2>

<h4>Available courses:</h4>


  <!--with {{#each}} we loop through each object in our model and display its information -->
  {{#each model.courses as |course|}}
<!--with each we loop through each object in our model and display its information -->
  {{#each model as |course| }}
    {{course-tile course=course}}
  {{/each}}
