<div class="container" style="text-align: center">
<h1 style="text-align: center"><strong>Choose a framework</strong></h1>
<div class="row supplements">
    <div class="col-md-6">
      <p>{{#link-to 'ember'}}<img src="http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200">{{/link-to}}</p>
  </div>
  <div class="col-md-6">
    <p>{{#link-to 'angular'}}<img src="https://avatars0.githubusercontent.com/u/139426?v=3&s=400">{{/link-to}}</p>
  </div>
</div>
<br>
<br>
<br>
<div class="row supplements">
    <div class="col-md-6">
      <p><img src="http://blog.sklambert.com/wp-content/uploads/2013/05/JS6_Logo.png"></p>
  </div>
  <div class="col-md-6">
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png"></p>
  </div>
</div>
<br>
<br>
<br>
<div class="row supplements">
    <div class="col-md-6">
      <p><img src="https://uploads.toptal.io/blog/category/logo/364/CSS.png"></p>
  </div>
  <div class="col-md-6">
    <p><img src="https://raw.githubusercontent.com/ServiceStack/Assets/master/img/livedemos/techstacks/jquery-logo.png"></p>
  </div>
</div>
</div>
